* {
  margin: 0;
  padding: 0;
}

body,
html {
  height: 100%;
}

body {
  font-family: sans-serif;
  color: white;
}

.header {
  box-sizing: border-box;
  position: absolute;
  z-index: 100;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style-type: none;
  padding: 24px;
}

.header-logo {
  width: 210px;
  height: 60px;
  position: relative;
  display: flex;
}

.header-actions {
  display: flex;
  justify-content: right;
}

.header a {
  display: flex;
  background: #e50914;
  color: white;
  align-self: flex-start;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 3px;
  max-width: 100%;

  justify-content: center;
}

.header select {
  display: inline-block;
  background: black;
  color: white;
  align-self: flex-start;
  padding: 8px 18px;
  text-decoration: none;
  border-radius: 3px;
  margin-right: 10px;
}

.main {
  height: 100vh;
  float: none;
  background: url(imgs/bg.jpg) center no-repeat;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center;
  background-clip: padding-box;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  position: relative;
}

.main-child {
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-items: center;
  min-width: none;
}

.main h1 {
  font-size: 64px;
  max-width: 800px;
  margin-bottom: 15px;
}

.main span {
  font-size: 26px;
}

.form-cta {
  display: grid;
  grid-template-columns: 500px 250px;
  justify-content: center;
  margin-top: 15px;
  margin-bottom: 10px;
}

.form-cta input {
  padding: 20px 10px;
  font-size: 18px;
  font-family: sans-serif;
  margin: 0 1px 0 24px;
}

.form-cta button {
  background: #e50914;
  outline: none;
  border: none;
  color: white;
  font-size: 30px;
  cursor: pointer;
}

.form-cta button::after {
  z-index: 5;
  content: "";
  display: inline-block;
  width: 10px;
  height: 20px;
  background: url("imgs/seta.svg");
  margin-left: 20px;
}

.form-cta button:hover {
  background: #f40612;
}

.main p {
  font-size: 19px;
  margin-top: 40px;
}

.gradient {
  background: rgba(0, 0, 0, 0.4);
  background-image: linear-gradient(
    to top,
    rgba(0, 0, 0, 0.8) 0,
    rgba(0, 0, 0, 0) 60%,
    rgba(0, 0, 8, 0.8) 100%
  );
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media only screen and (max-width: 800px) {
  .form-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-cta input {
    padding: 15px 8px;
    font-size: 18px;
    width: 500px;
    margin-left: 24px;
    width: 60%;
  }

  .form-cta button {
    font-size: 20px;
    margin-top: 7px;
    padding: 10px 8px;
    margin-left: 30px;
    width: 160px;
  }
}

@media only screen and (max-width: 650px) {
  .header {
    float: none;
  }

  .header-logo {
    width: 170px;
    height: 50px;
  }

  .header a {
    display: flex;
    align-self: center;
    border-radius: 3px;
    width: 20px;
    font-size: 12px;
  }

  .header select {
    border-radius: 2px;
    margin-right: 10px;
    width: 80px;
    font-size: 15px;
    margin-left: 5px;
    padding: 4px 0px;
  }

  .main h1 {
    font-size: 44px;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .main span {
    font-size: 19px;
  }

  .main p {
    font-size: 16px;
    margin-top: 20px;
  }

  .main-child {
    width: 100%;
  }

  .form-cta {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .form-cta input {
    padding: 15px 8px;
    font-size: 18px;
    margin-left: 24px;
  }

  .form-cta button {
    font-size: 20px;
    margin-top: 7px;
    padding: 10px 8px;
    margin-left: 30px;
    width: 160px;
  }

  .form-cta input {
    font-size: 16px;
  }
}

@media only screen and (max-width: 500px) {
  .header {
    float: none;
    display: flex;
    text-align: left;
  }

  .header-logo {
    width: 140px;
    height: 32px;
  }

  .header a {
    font-size: 11px;
    padding: 10px 20px;
    text-align: left;
  }

  .header select {
    border-radius: 2px;
    margin-right: 10px;
    width: 80px;
    font-size: 13px;
    margin-left: 7px;
  }

  .main {
    float: none;
    position: absolute;
    height: 100%;
  }

  .main h1 {
    font-size: 29px;
    margin-bottom: 10px;
    margin-top: 50px;
    padding: 16px;
  }

  .main span {
    font-size: 15px;
  }

  .main p {
    font-size: 13px;
    margin-top: 20px;
  }

  .main-child {
    width: 100%;
  }

  .form-cta {
    grid-template-columns: auto;
  }

  .form-cta input {
    padding: 10px 8px;
    font-size: 18px;
  }

  .form-cta button {
    font-size: 20px;
    margin-top: 7px;
    padding: 10px 8px;
    margin-left: 30px;
    width: 160px;
  }

  .form-cta input {
    font-size: 16px;
  }
}

@media only screen and (max-width: 360px) {
  .header {
    float: none;
    display: flex;
    text-align: left;
    padding: 12px;
  }

  .header-logo {
    width: 120px;
    height: 32px;
  }

  .header a {
    font-size: 11px;
    padding: 9px 19px;
    text-align: left;
  }

  .header select {
    border-radius: 2px;
    margin-right: 10px;
    width: 80px;
    font-size: 11px;
    margin-left: 7px;
  }

  .main {
    float: none;
    position: absolute;
    height: 100%;
  }

  .main h1 {
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 50px;
  }

  .main span {
    font-size: 15px;
  }

  .main p {
    font-size: 13px;
    margin-top: 20px;
  }

  .main-child {
    width: 100%;
  }

  .form-cta {
    grid-template-columns: auto;
  }

  .form-cta input {
    padding: 15px 8px;
    font-size: 18px;
  }

  .form-cta button {
    font-size: 20px;
    margin-top: 7px;
    padding: 10px 8px;
    margin-left: 30px;
    width: 160px;
  }

  .form-cta input {
    font-size: 16px;
  }
}
